body {
    margin: 0px;
    padding: 0px;
}

.wrapper{
    margin: 0px auto;
    max-width: 1180px;
}

.container {
    margin: 0px 2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0px;
}

img{
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
}

ul.sponsorboxes li {
    padding: 1rem;
}



.logo a{
    font-size: 24px;
    font-style: italic;
}

header {
    background: linear-gradient(90deg, #008789 0%, #2AA39C 86.23%, rgba(245, 245, 245, 0.3) 172.46%);
    width: 100%;
}

nav li {
    font-size: 20px;
}


.buttonsGroup {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.buttons {
    background: #009999;
    border-radius: 2px;
    padding: 0.6rem .75rem;
    display: inline-block;
}

h1 {
    font-size: 48px;
    margin: 0px 0px 1.5rem;
    color: white;
}

.accent{
    font-style:italic;
    background-color: #009999;
}

section.hero {
    width: 100%;
    margin: 0px;
    padding: 3rem 0px;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(0, 60, 61, 0.8), rgba(0, 60, 61, 0.8)), url(./images/hero.jpg) no-repeat center center fixed;
    background-size: cover;
}

section .hero-image{
    width: 100%;
    object-fit: fill;
    position: absolute;
}

.hero p {
    margin: 1rem 0px;
    color: white;
}

section.sponsor {
    padding: 2rem 0px;
    text-align: center;
    background-color: white;
}

h4 {
    margin: 1rem 0px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #009999;
}

ul.sponorboxes {
    justify-content: space-between;
}

.sponsorboxes li {
    background-color: #009999;
    text-transform: uppercase;
    margin: .5rem;
    min-width: 104px;
}

ul.sponsorboxes {
    justify-content: space-around;
    flex-wrap: wrap;
}


li.secondaryButton {
    background-color: transparent;
    border: 2px solid #009999;
}

.secondaryButton a {
    color: white;
}

section.features {
    padding: 2rem 0px;
    text-align: center;
    background-color: #F5f5f5;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 38px;
    color: #009999;
    letter-spacing: .1rem;
    position: relative;
}


p {
    font-size: 1.2rem;
    line-height: 140%;
    margin: 2rem 0px;
}


.buttonsGroup .buttons {
    margin: .6rem .6rem 0px 0px;
}

h2::after {
    content: "";
    position: relative;
    display: block;
    background-color: black;
    left: 0;
    bottom: 0;
    margin: 1rem auto;
    width: 80%;
    height: 2px;
}

nav ul li a {
    margin: 1rem;
}

.features ul {
    flex-direction: column;
    margin: 3rem 0rem;
}

.cards h3{
    margin: 0;
}

.featuresImage {
    padding: 2rem;
}

.featuresImage img{
    width: 60%;
}

.cards li {
    background: white;
    padding: 3rem 2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 1rem 0px;
    z-index: 1;
}

.cards p{
    margin: 0px;
}

h3 {
    font-size: 2rem;
    color: #009999;
}

section.services {
    padding: 13rem 0px 10rem;
    margin-top: -15rem;
    text-align: center;
    background-color: #003C3D;
    position: relative;
}

.services h2, .services p {
    color: white;
}

.services h2::after {
    background: white;
}


ul.servicesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesBox li{
    margin: 2rem 0px;
    width: 100%
}

.servicesBox li a{
    width: 100%;
}

.servicesBox li div img{
    width: 100%;
    object-fit: cover;
    border-radius: 0px 25px;
    height: 200px;
}

.servicesBox li div{
    margin-bottom: -2rem;
}

.servicesBox li span{
    background: rgba(42, 163, 156, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 1.5rem 0;
    border-radius: 1rem;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.services .buttons{
    margin-top: 1.5rem;
    padding: 1rem;
}

.services-button{
    display: flex;
    align-items: center;
}

.services-button span{
    display: inline-flex;
    margin: 0 0.5rem;
}

.services-button a{
    font-size: 1.3rem;
}

.services-button span{
    display: inline-flex;
    margin: 0 0.5rem;
}

.wavesBorder{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

section.people{
    padding: 2rem 0px;
    text-align: center;
    background-color:#ecffff
}

.people .arrow{
    width: 5rem;
    margin: 0 auto;
}

.portals {
    flex-direction: column;
    margin: 1rem 0px;
    text-transform: uppercase;
}

.portals li{
    margin: 0.5rem 0px;
}

.portal{
    padding: 4rem 2rem;
    font-size: 2.5rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.portal-1{
    background-image:url(/images/claimProfessional.jpg);
}

.portal-2{
    background-image: url(/images/injuredWorker.jpg);
}

.portal-3{
    background-image: url(/images/networkProviders.jpg);
}

.portal::after{
    content:"";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 153, 153, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
}

.portal-text{
    position: relative;
    z-index: 10;
}