body {
    margin: 0px;
    padding: 0px;
}

.wrapper{
    margin: 0px auto;
    max-width: 1180px;
}

.container {
    margin: 0px 2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0px;
}


a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
}

ul.sponsorboxes li {
    padding: 1rem;
}



.logo a{
    font-size: 24px;
    font-style: italic;
}

header {
    background: linear-gradient(90deg, #008789 0%, #2AA39C 86.23%, rgba(245, 245, 245, 0.3) 172.46%);
    width: 100%;
}

nav li {
    font-size: 20px;
}


.buttonsGroup {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.buttons {
    background: #009999;
    border-radius: 4px;
    padding: 0.6rem .5rem;
    display: inline-block;
}

h1 {
    font-size: 48px;
    margin: 0px 0px 1.5rem;
    color: #009999;
}

section.hero {
    background: #F5F5F5;
}

section.hero {
    width: 100%;
    margin: 0px;
    padding: 3rem 0px;
}


.hero p {
    margin: 1rem 0px;
}

section.sponsor {
    padding: 2rem 0px;
    text-align: center;
    background-color: lightgray;
}

h4 {
    margin: 1rem 0px;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

ul.sponorboxes {
    justify-content: space-between;
}

.sponsorboxes li {
    background-color: #009999;
    text-transform: uppercase;
    margin: .5rem;
    min-width: 104px;
}

ul.sponsorboxes {
    justify-content: space-around;
    flex-wrap: wrap;
}


li.secondaryButton {
    background-color: transparent;
    border: 2px solid #009999;
}

.secondaryButton a {
    color: black;
}

section.features {
    padding: 2rem 0px;
    text-align: center;
    background-color: #F5f5f5;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 38px;
    color: #009999;
    letter-spacing: .1rem;
    position: relative;
}


p {
    font-size: 1.2rem;
    line-height: 140%;
    margin: 2rem 0px;
}


.buttonsGroup .buttons {
    margin: .6rem .6rem 0px 0px;
}

h2::after {
    content: "";
    position: relative;
    display: block;
    background-color: black;
    left: 0;
    bottom: 0;
    margin: 1rem auto;
    width: 80%;
    height: 2px;
}

nav ul li a {
    margin: 1rem;
}

.features ul {
    flex-direction: column;
    margin: 3rem 0rem;
}

.cards li {
    background: white;
    padding: 3rem 2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 1rem 0px;
}

h3 {
    font-size: 2rem;
    color: #009999;
}

section.services {
    padding: 12rem 0px 2rem;
    margin-top: -12rem;
    text-align: center;
    background-color: #003C3D;
}

.services h2, .services p {
    color: white;
}

.services h2::after {
    background: white;
}


ul.servicesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesBox li{
    margin: 2rem 0px;
}

.servicesBox li div {
    width: 300px;
    height: 300px;
    background-color:gray;
}

.servicesBox li span{
    background-color: black;
}